.position{
    align-items: center;
    justify-content: center;
}

.size{
    width: 300px;
    height: 300px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px !important;
}

.background {
    width: 80%;
    height: 1080px;
    z-index: 1;
}

.containerbackground{
    background-image: url('../../assets/Home/background.svg');
    position: absolute;
    display: flex;
    justify-content: end;
    background-size: cover;
    object-fit: contain;
    z-index: -1;
    top: 40px;
    right: 0;
    height: 96vh;
    width: 60%;
}

@media (max-width: 1540px) {
    .containerbackground {
        display: none;
        overflow:scroll; /* Hide scrollbars */
    }

}